{% extends 'base.html.twig' %}


{% block body %}
<div class="container">
    <h3>Image Name:  {{ showdish.name }}</h3>
    <img src="{{ asset('imagesUpload/brochures/' ~ showdish.image) }}">
</div>
{% endblock %}
